<div class="container mt-4">
    <h2 class="text-primary mb-4">Authors</h2>
    
    <ul class="list-group">
        <li 
            *ngFor="let author of authors" 
            (click)="onSelect(author)" 
            class="list-group-item list-group-item-action d-flex align-items-center">
            
            <a 
                routerLink="/authordetails/{{author.id}}" 
                class="text-decoration-none text-dark w-100">
                
                <span class="badge bg-primary me-3">{{ author.id }}</span>
                {{ author.name }}
            </a>
        </li>
    </ul>
</div>
