<div class="container mt-4">
    <h2 class="text-primary mb-4">Top Authors</h2>
    
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let author of authors" class="col">
            <a class="text-decoration-none text-dark" routerLink="/authordetails/{{author.id}}">
                <div class="card h-100 shadow-sm text-center">
                    <div class="card-body">
                        <h4 class="card-title">{{ author.name }}</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2 class="text-primary mb-4">Top Publishers</h2>
    
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let publisher of publishers" class="col">
            <a class="text-decoration-none text-dark" routerLink="/publisherdetails/{{publisher.id}}">
                <div class="card h-100 shadow-sm text-center">
                    <div class="card-body">
                        <h4 class="card-title">{{ publisher.name }}</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2 class="text-primary mb-4">Top Books</h2>
    
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let book of books" class="col">
            <a class="text-decoration-none text-dark" routerLink="/bookdetails/{{book.id}}">
                <div class="card h-100 shadow-sm text-center">
                    <div class="card-body">
                        <h4 class="card-title">{{ book.title }}</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
